<!DOCTYPE>
<html>
    <head>
    </head>
    <body>
    <div>
       {{poster | raw}}
        <table style="border: 1px solid black;">
         <tr>
            <th style="border: 1px solid black;" width="100px" height="100px">Title</td>
            <th style="border: 1px solid black;" width="100px" height="100px">Health</td>
            <th style="border: 1px solid black;" width="100px" height="100px">Power</td>
        </tr>
         <tr>
            <td style="border: 1px solid black;" width="100px" height="100px">{{movie.title}}</td>
            <td style="border: 1px solid black;" width="100px" height="100px">{{movie.health}}</td>
            <td style="border: 1px solid black;" width="100px" height="100px">{{movie.power}}</td>
        </tr>
        </table>
    </div>
    </body>
</html>
