<!DOCTYPE>
<html>
    <head>
    </head>
    <body>
        {{message}}
        <table style="border: 1px solid black;">
            <tr>
                {{test}}
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
            </tr>
            <tr>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
                <td style="border: 1px solid black;" width="100px" height="100px"></td>
            </tr>
        </table>
        <a href="/options/"><button>Options</button></a>
    </body>
</html>
